<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992786975345-61ffhnkcr9he5344npsn0cf5l997r7t4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992786975345-61ffhnkcr9he5344npsn0cf5l997r7t4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>992786975345-52gmmies8soq36bsjiilg1o58md43fsm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAnF_-CDAnV-FHgyfE4igimtiR_frdDeyY</string>
	<key>GCM_SENDER_ID</key>
	<string>992786975345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carspare.app</string>
	<key>PROJECT_ID</key>
	<string>carspare-44a08</string>
	<key>STORAGE_BUCKET</key>
	<string>carspare-44a08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992786975345:ios:466605a9838020b6dd29d0</string>
	<key>DATABASE_URL</key>
	<string>https://carspare-44a08.firebaseio.com</string>
</dict>
</plist>